.profile__avatar-edit {
    width: 26px;
    height: 26px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -13px;
    margin-left: -13px;
}

.profile__avatar-edit:hover{
    opacity: .8;
    display: block;
}