.header__logo {
    margin: 0;
    background-image: url(../../../images/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 142px;
    transition: opacity 0.5s ease-in-out;
}

.header__logo:hover {
    opacity: 0.5;
}
