.profile__avatar {
    margin: 0;
    position: relative;
    display: block;
    border-radius: 120px;
    max-width: 120px;
    height: 120px;
    object-fit: cover;
}

.profile__avatar::before {
    content: url('../../../images/edit-icon.svg');
    background:url('../../../images/edit-icon.svg');
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 26px;
    height: 26px;
    display: block;
    z-index: 3;
}

.profile__avatar:hover::after {
    opacity: 0.8;
}
